version: '3'

services:
  app:
    container_name: app
    build:
      context: .
      args:
        APP_WORKDIR: "/app"
    volumes:
      - .:/app:ro
      - /app/.venv
    ports:
      - "${APP_PORT}:${APP_PORT}"
    env_file:
      - .env
    restart: always
    command: poetry run uvicorn app.__main__:app --host 0.0.0.0 --port ${APP_PORT} --reload
    depends_on:
      - db

  db:
    container_name: db
    image: mongo:6
    volumes:
      - mongo_data:/data/db
    env_file:
      - .env
    restart: always