version: '3'

services:
  app:
    container_name: app
    build:
      context: .
      args:
        APP_WORKDIR: "/app"
    volumes:
      # Для разработки (read-only чтобы не портить venv)
      - .:/app:ro
      # Исключение venv директории
      - /app/.venv
    ports:
      - "${APP_PORT}:${APP_PORT}"
    env_file:
      - .env
    restart: always
    command: poetry run uvicorn app.main:app --host 0.0.0.0 --port ${APP_PORT} --reload
    depends_on:
      - db

  db:
    container_name: db
    image: mongo:6
    volumes:
      - mongo_data_:/data/db
    env_file:
      - .env
    restart: always

volumes:
  mongo_data_:
